<a ui-sref="home"><span style="font-size:30px;">Home</span></a> &lt;
<a ui-sref="mainList"><span style="font-size:30px;">Categories</span></a> &lt;
<span style="font-size:30px;">Item Details</span>

<table style="width:60%;">
    <tr>
      <th width="30%" class='headerColumn'>Items Types</th>
      <th width="30%" class='headerColumn'>Items Details</th>
    </tr>
    <tr>
      <th width="30%">ID</th>
      <th width="30%">{{ itemDetail.id }}</th>
    </tr>
    <tr>
      <th width="30%">SHORT NAME</th>
      <th width="30%">{{ itemDetail.short_name }}</th>
    </tr>
    <tr>
      <th width="30%">NAME</th>
      <th width="30%">{{ itemDetail.name }}</th>
    </tr>
    <tr>
      <th width="30%">DESCRIPTION</th>
      <th width="30%">{{ itemDetail.description }}</th>
    </tr>
    <tr>
      <th width="30%">LARGE PORTION NAME</th>
      <th width="30%">{{ itemDetail.large_portion_name }}</th>
    </tr>
    <tr>
      <th width="30%">SMALL PORTION NAME</th>
      <th width="30%">{{ itemDetail.small_portion_name }}</th>
    </tr>
    <tr>
      <th width="30%">PRICE LARGE</th>
      <th width="30%">{{ itemDetail.price_large }}</th>
    </tr>
    <tr>
      <th width="30%">PRICE SMALL</th>
      <th width="30%">{{ itemDetail.price_small }}</th>
    </tr>
  </table>
