<a ui-sref="home"><span style="font-size:30px;">Home</span></a> &lt;
<a ui-sref="mainList"><span style="font-size:30px;">Categories</span></a> &lt;
<span style="font-size:30px;">Item Details</span>
<br></br>
<table>
    <tr>
		 <th class="headerColumn"> Code </th>
		 <th class="headerColumn"> Item Name </th>
		 <th class="headerColumn"> Description</th>
		 <th class="headerColumn"> Price Large</th>
		 <th class="headerColumn"> Price Small</th>
    </tr>

    <tr ng-repeat="itemobj in itemDetail.subitem">
      <th> {{ itemobj.short_name }}</th>
      <th>{{ itemobj.name }}</th>
      <th> {{ itemobj.description }}</th>
      <th> {{ itemobj.price_large }}</th>
      <th> {{ itemobj.price_small }}</th>
    </tr>
  </table>
